@page
@model NOVAAPP.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Productos";

}



@section styles{


}



    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Productos
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Listado Productos</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-sm-8"> <h4 class="box-title">Filtro</h4></div>


                        </div>


                    </div>
                    <div class="box-body">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3 pr-1">
                                    <div class="form-group">
                                        <label>Bodega</label>
                                        <select class="form-control select2  " asp-for="filtro.Codigo1">
                                            @foreach (var item in Model.Bodegas)
                                        {
                                            <option value="@item.id"> @item.CodSAP - @item.Nombre</option>
                                        }


                                    </select>
                                </div>


                            </div>




                            <div class="col-sm-3 pl-1" style="text-align: center; padding-top: 1%;">
                                <button title="Buscar" type="submit" class="btn btn-rounded btn-outline-primary"> <i class="fa fa-search"></i></button>
                            </div>




                        </div>

                    </form>
                </div>
            </div>



            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8"> <h4 class="box-title">Productos</h4></div>


                    </div>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                  
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Stock</th>
                                    <th>Bodega</th>
                            


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Objeto)
                                {
                                    <tr>
                                        <td>
                                            @item.Codigo
                                        </td>
                                        <td>
                                            @item.Nombre
                                        </td>




                                        <td>         @item.Stock </td>
                                      
                                           <td>  @( Model.Bodegas.Where(a => a.id == item.idBodega).FirstOrDefault() == null ? "Bodega Inexistente" :  Model.Bodegas.Where(a => a.id == item.idBodega).FirstOrDefault().Nombre) </td> 
                                    </tr>

                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                   
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Stock</th>
                                    <th>Bodega</th>
                                 

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
