@page
@model InversionGloblalWeb.Pages.SeguridadRolesModulos.IndexModel
@{
    ViewData["Title"] = "Roles";
}
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@inject IHttpContextAccessor httpContextAccessor


@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}



@section scripts{


    <script>
        $(document).ready(function () {


            $('.example1').DataTable({
                pageLength: 50,
                responsive: true,


            });

        });
        var ids = 0;
    function onClickModal(id) {
        ids = id;
        Swal.fire({
            title: '¿Desea eliminar este rol?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Aceptar`,
            denyButtonText: `Cancelar`,
            customClass: {
                confirmButton: 'swalBtnColor',
                denyButton: 'swalDeny'
            },
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                Eliminar();

            }
        })

    }
        function  Eliminar() {

         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Index", "Eliminar")',
                        data: { id: ids },
             success: function (result) {

                             if (result == false) {
                                 ids = 0;
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar eliminar'

                                 })

                             } else {
                                 Swal.fire({
                                     title: "Ha sido eliminado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         location.reload();
                                     }
                                 })
                             }
             },
             beforeSend: function () {

             }
                     })
        }

    </script>
}
<style>
    h3 {
        font-weight: bold;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Roles
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Listado Roles</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8"> <h4 class="box-title">Roles</h4></div>
                        <div class="col-sm-4"> <a asp-page="Nuevo" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Agregar Rol</a></div>

                    </div>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre Rol</th>
                                    <th>Acción</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Roles)
                                {
                                    <tr>

                                        <td>
                                              @item.idRol 
                                        </td>

                                        <td>  @item.NombreRol </td>

                                        <td align="center" style="padding-top:15px;">
                                            <a asp-page="./Editar" asp-route-id="@item.idRol" class="fa fa-edit icono"> </a> &nbsp;
                                            <a onclick="javascript: onClickModal('@item.idRol')" class="fa fa-trash icono"></a>&nbsp;
                                            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "3").FirstOrDefault()))
                                            {
                                                <a asp-page="./RolesModulos" asp-route-id="@item.idRol" title="Asignar módulos" class="fa fa-exchange icono" style="color: #FFB700;"> </a>
                                            }
                                        </td>

                                    </tr>

                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre Rol</th>
                                    <th>Acción</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
