@page
@model NOVAAPP.Pages.Sucursales.IndexModel
@{
      ViewData["Title"] = "Sucursales";
}
@section styles{


}

@section scripts{

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

          



        });




    </script>

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sucursales
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Listado Sucursales</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8"> <h4 class="box-title">Sucursales</h4></div>
                        <div class="col-sm-4"> </div>

                    </div>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Cod.Sucursal</th>
                                  <th>Nombre</th>
                                    <th>Cédula</th>
                                    <th>Provincia</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Objeto)
                                {
                                <tr>

                                    <td>
                                        @item.CodSuc
                                    </td>

                                   
                                    <td>         @item.Nombre </td>
                                       
                                            <td>         @item.Cedula </td>
                                                <td>         @item.Provincia </td>
                                                    <td>         @item.Telefono </td>
                                                        <td>         @item.Correo </td>
                                                        
                                </tr>

                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                          <th>Cod.Sucursal</th>
                                  <th>Nombre</th>
                                    <th>Cédula</th>
                                    <th>Provincia</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

