@page "{id}"
@model NOVAAPP.Pages.Documentos.CancelarModel
@{
    ViewData["Title"] = "Documentos";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles{


}
    @section scripts{


   <script src="/js/Documentos/CancelarDocumento.js"></script>
 
   
}


    @using Newtonsoft.Json;
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Nota de Crédito
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Nota de Crédito</li>
        </ol>
    </section>

    <section class="content ">
        <div class="row">
            <div class="col-12">

                <input hidden asp-for="Documento.id" id="id" />
                <input hidden id="Cantones" value="@JsonConvert.SerializeObject(Model.Cantones)" />
                <input hidden id="Distritos" value="@JsonConvert.SerializeObject(Model.Distritos)" />
                <input hidden id="Barrios" value="@JsonConvert.SerializeObject(Model.Barrios)" />
                <input hidden id="Clientes" value="@JsonConvert.SerializeObject(Model.Clientes)" />
                <input hidden id="Productos" value="@JsonConvert.SerializeObject(Model.Productos)" />
                <input hidden id="Impuestos" value="@JsonConvert.SerializeObject(Model.Impuestos)" />
                <input hidden id="Exoneraciones" value="@JsonConvert.SerializeObject(Model.Exoneraciones)" />
                <input hidden id="Documento" value="@JsonConvert.SerializeObject(Model.Documento)" />
                <input hidden id="TipoCambio" value="@JsonConvert.SerializeObject(Model.TP)" />
                <input hidden id="BaseEntry" value="@Model.Documento.BaseEntry" />
                <input hidden id="CondPago" value="@Model.Documento.idCondPago" />



                <input hidden id="urlGenerar" value="@Url.Page("Cancelar", "AgregarDocumento")" />
                <input hidden id="urlCliente" value="@Url.Page("Cancelar", "AgregarCliente")" />


                <!-- Content Header (Page header) -->
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle">Nota de Crédito</h6>


                            </div>
                            <div class="col-4">
                                <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="page-header mt-0">
                                    <h2 class="d-inline"><span class="font-size-24">Cancelación</span></h2>
                                    <div class="text-left">
                                        <h5>Fecha <span class="font-size-18">@Model.Documento.Fecha.ToString("dd MMM yyy")</span></h5>
                                        <input hidden id="Fecha" type="datetime" value="@DateTime.Now" />

                                    </div>

                                </div>

                            </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Documento</label>
                                    <select disabled class="form-control" id="selectTD">
                                       
                                       <option selected value="03">Nota de Crédito</option> 
                                

                                    </select>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <select disabled class="form-control" id="selectMoneda" onchange="javascript: onChangeMoneda()">
                                        <option value="CRC" >CRC</option>
                                        <option value="USD">USD</option>

                                    </select>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-6 invoice-col">
                                <strong>Para</strong>
                                <address>

                                    <select disabled id="ClienteSeleccionado" asp-for="Documento.idCliente" class="form-control select2" onchange="javascript: onChangeCliente()">
                                        <option value="0"> Seleccione Cliente</option>



                                    </select>

                                    <br><br>
                                    <span id="spanDireccion"> </span> <br>
                                    <strong id="strongInfo">Phone:   &nbsp;&nbsp;&nbsp;&nbsp; Email:  </strong>
                                </address>
                            </div>
                            
                        </div>
                        <!-- /.col -->
                        <!-- /.row -->

                    </div>
                    
                </div>

                


                <div class="box">
                    <div class="box-body">
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>

                                            <th>Descripción</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Precio de Venta</th>
                                            <th class="text-center">Descuento</th>
                                            <th class="text-center">Impuesto</th>
                                            <th class="text-center">% Exoneración</th>

                                            <th class="text-center">Total</th>
                                            <th class="text-center">Eliminar</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-12 col-sm-6">
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6 text-right">


                                <div>
                                    <p>Sub Total  : <span id="subG">0</span> </p>
                                    <p>Descuento  : <span id="descG">0</span></p>
                                    <p>Impuesto :  <span id="impG"> 0</span></p>

                                </div>
                                <div class="total-payment">
                                    <h3><b>Total :</b>  <span id="totG">0 </span></h3>
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </div>
                </div>


                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label>Comentarios</label>
                                    <textarea id="inputComentarios" class="form-control"></textarea>

                                </div>

                            </div>

                        </div>
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                @*<button id="print" class="btn btn-warning" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>*@
                                <button type="button" class="btn btn-success pull-right" onclick="    javascript: Generar()">
                                    <i class="fa fa-credit-card"></i> Generar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</section>


<!--Modal para agregar Clientes-->



<!-- /.modal -->


<!-- /.modal -->
<script>
    function maskCedula() {
        $("#Telefono").mask("9999-9999");
        var TC = $("#selectTP").val();

        switch  (TC) {
            case "01":
                {
                    $("#Cedula").mask("999999999");
                    break;
                }
            case "02":
                {
                    $("#Cedula").mask("9999999999");
                    break;
                }
        }

    }

    function validarCedula() {
        var TC = $("#selectTP").val();

        switch  (TC) {
            case "01":
                {
                    if  ($("#Cedula").val().length < 9) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
            case "02":
                {
                    if  ($("#Cedula").val().length < 10) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
        }
    }
</script>

