@page
@model NOVAAPP.Pages.Documentos.NuevoModel
@{
    ViewData["Title"] = "Documentos";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles{


}
    @section scripts{


    <script src="/js/Documentos/NuevoDocumento.js?v=0.0.9"></script>


}


    @using Newtonsoft.Json;
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Documentos
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Generar Documento</li>
        </ol>
    </section>

    <section class="content ">
        <div class="row">
            <div class="col-12">
                <input hidden id="Cantones" value="@JsonConvert.SerializeObject(Model.Cantones)" />
                <input hidden id="Distritos" value="@JsonConvert.SerializeObject(Model.Distritos)" />
                <input hidden id="Barrios" value="@JsonConvert.SerializeObject(Model.Barrios)" />
                <input hidden id="Clientes" value="@JsonConvert.SerializeObject(Model.Clientes)" />
                <input hidden id="Vendedores" value="@JsonConvert.SerializeObject(Model.Vendedores)" />
                <input hidden id="Productos" value="@JsonConvert.SerializeObject(Model.Productos)" />
                <input hidden id="Impuestos" value="@JsonConvert.SerializeObject(Model.Impuestos)" />
                <input hidden id="Exoneraciones" value="@JsonConvert.SerializeObject(Model.Exoneraciones)" />
                <input hidden id="TipoCambio" value="@JsonConvert.SerializeObject(Model.TP)" />
                <input hidden id="Documento" value="@JsonConvert.SerializeObject(Model.Documento)" />
                <input hidden id="CB" value="@JsonConvert.SerializeObject(Model.CB)" />
                <input hidden id="CP" value="@JsonConvert.SerializeObject(Model.CP)" />
                <input hidden id="DES" value="@JsonConvert.SerializeObject(Model.Descuento)" />
                <input hidden id="Bodega" value="@JsonConvert.SerializeObject(Model.Bodega)" />
                <input hidden id="Sucursal" value="@JsonConvert.SerializeObject(Model.MiSucursal)" />

            <input hidden id="SeriesProductos" value="@JsonConvert.SerializeObject(Model.SeriesProductos.SeriesProductos)" />

                <input hidden id="urlGenerar" value="@Url.Page("Nuevo", "AgregarDocumento")" />
                <input hidden id="urlCliente" value="@Url.Page("Nuevo", "AgregarCliente")" />
                <input hidden id="urlFacturas" value="@Url.Page("Nuevo", "Facturas")" />
                  <input hidden id="RolGanancia" value="@(!string.IsNullOrEmpty(Roles.Where(a => a == "53").FirstOrDefault()))" />
                      <input hidden id="Lotes" value="@JsonConvert.SerializeObject(Model.Documento.Lotes)" />


                <!-- Content Header (Page header) -->
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle">Generar Documento</h6>


                            </div>
                            <div class="col-4">
                                <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                            </div>
                        </div>
                    </div>
                    <div class="box-body" id="boxC">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="page-header mt-0">
                                    <h2 class="d-inline"><span class="font-size-24">Venta</span></h2>
                                    <div class="text-left">
                                        <h5>Fecha <span class="font-size-18">@DateTime.Now.ToString("dd MMM yyy")</span></h5>
                                        <input hidden id="Fecha" type="datetime" value="@DateTime.Now" />

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Documento</label>
                                    <select class="form-control" id="selectTD">
                                        <option value="01">Factura Electrónica</option>

                                        <option value="04">Tiquete Electrónico</option>


                                    </select>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <select class="form-control" id="selectMoneda" onchange="javascript: onChangeMoneda()">
                                        <option value="CRC" selected>CRC</option>
                                        <option value="USD">USD</option>

                                    </select>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="col-sm-3" style="text-align: right"> <a onclick="javascript: AbrirModalAgregarCliente()" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Agregar Cliente</a></div>
                        <div class="row invoice-info">
                            <div class="col-md-6 invoice-col">
                                <strong>Para</strong>
                                <address>

                                    <select id="ClienteSeleccionado" asp-for="Documento.idCliente" class="form-control select2" onchange="javascript: onChangeCliente()">
                                        <option value="0"> Seleccione Cliente</option>



                                    </select>

                                    <br><br>
                                    <span id="spanDireccion"> </span> <br>
                                <strong id="strongInfo">  Cédula: &nbsp;&nbsp;&nbsp;&nbsp; Phone:   &nbsp;&nbsp;&nbsp;&nbsp; Email:  </strong>

                                    <br><br>
                                    <strong id="strongInfo2">Saldo:   &nbsp;&nbsp;&nbsp;&nbsp; Limite Crédito:  </strong>
                                </address>
                            </div>
                            <div class="col-sm-3">
                                <label>Cond. Pago</label>
                                <select class="form-control" id="selectCondPago">
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Vendedor</label>
                                <select class="form-control select2" id="selectVendedor" asp-for="Documento.idVendedor">
                                </select>
                            </div>

                        </div>
                        <!-- /.col -->
                        <!-- /.row -->

                    </div>

                </div>

                <div class="box" id="boxP">
                    <div class="box-body">
                        <div class="row">


                            <div class="col-12  ">
                                <div class="x_panel">
                                    <div class="x_content">



                                        <div class="row">
                                            <div class="col-6">
                                                <h3>Productos</h3>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="x_content">



                                        <div class="row">
                                            <div class="col-md-9">
                                                <select id="ProductoSeleccionado" class="form-control select2" onchange="javascript: onChangeProducto()">
                                                    <option value="0"> Seleccione Productos</option>



                                                </select>
                                            </div>
                                             @if (Model.Parametro.FirstOrDefault().NumeroSerie == true)
                                        {
                                            <div id="SerieSelect"class="col-md-3" hidden>
                                                <a href="#test-form" class="popup-with-form fa fa-info-circle icono" onclick="onClickModal(-1)"></a>&nbsp;
                                            </div>
                                        }
                                    </div>
                                        <br />
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" value="1">


                                                </div>


                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Impuesto</label>
                                                    <br />
                                                    <select id="impuesto" disabled class="form-control " style="width: 100%">
                                                        <option value="0">Seleccione</option>
                                                        @foreach (var item in Model.Impuestos)
                                                    {
                                                        <option value="@item.id">@Math.Round(@item.Tarifa, 2)%</option>

                                                    }
                                                </select>

                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>% Descuento</label>
                                                <input type="number" class="form-control" id="descuento" placeholder="Descuento" value="0">


                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Moneda</label>
                                                <input type="text" class="form-control" id="MonedaProducto" readonly placeholder="Moneda">


                                            </div>


                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label>Precio de Venta</label>
                                                <input id="inputPrecio" disabled type="number" class="form-control" placeholder="Precio Unitario" value="0">


                                            </div>


                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cabys</label>
                                                <input id="inputCabys" disabled type="text" maxlength="13" class="form-control" placeholder="Cabys">


                                            </div>


                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label>Doc. Exoneración</label>
                                                <select id="exoneracion" class="form-control " disabled style="width: 100%">
                                                    <option value="0">Seleccione</option>

                                                </select>

                                            </div>


                                        </div>
                                        <div class="col-sm-12 pl-1" style="text-align: right;">

                                            <a id="agregar" onclick="javascript: AgregarProductoTabla();" class="btn btn-primary" style="color: white !important;">+ Agregar </a>
                                        </div>



                                    </div>




                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>


            <div class="box">
                <div class="box-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>

                                        <th>Descripción</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Precio de Venta</th>
                                        <th class="text-right">Descuento</th>
                                        <th class="text-right">Impuesto</th>
                                      @*  <th class="text-right">% Exoneración</th>*@

                                        <th class="text-right">Total</th>
                                                   @if (!string.IsNullOrEmpty(Roles.Where(a => a == "53").FirstOrDefault()))
                                        {
                                        <th class="text-right">% Ganancia</th>
                                          }
                                        <th class="text-right">Eliminar</th>
                                         @if (Model.Parametro.FirstOrDefault().NumeroSerie == true)
                                        {
                                            <th class="text-right">Series</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-12 col-sm-6">
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 text-right">


                            <div>
                                <p>Sub Total  : <span id="subG">0</span> </p>
                                <p>Descuento  : <span id="descG">0</span></p>
                                <p>Impuesto :  <span id="impG"> 0</span></p>
                                <p>Redondeo :  <span id="redondeo"> 0</span></p>

                            </div>
                            <div class="total-payment">
                                <h3><b>Total :</b>  <span id="totG">0 </span></h3>
                            </div>
                            <div class="total-payment" hidden>
                                <h3><b>Total :</b>  <span id="totGX">0 </span></h3>
                            </div>
                              @if (!string.IsNullOrEmpty(Roles.Where(a => a == "53").FirstOrDefault()))
                            {
                                <div class="total-payment">
                                    <h3><b>Total Ganancia :</b>  <span id="totGana">0</span>%</h3>
                                </div>
                            }
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </div>
            </div>


            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Comentarios</label>
                                <textarea id="inputComentarios" class="form-control"></textarea>

                            </div>

                        </div>

                    </div>
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            @*<button id="print" class="btn btn-warning" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>*@
                            <button type="button" class="btn btn-success pull-right" onclick="    javascript: AbrirPago()">
                                <i class="fa fa-credit-card"></i> Generar
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!--Modal para agregar Clientes-->


<div class="modal fade bs-example-modal-lg" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Agregar Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cyber">Tipo de Cédula:</label>
                            <select id="selectTP" class="form-control" onchange="javascript: maskCedula();" required>
                                <option value="01">Nacional</option>
                                <option value="02">Jurídica</option>
                             @if (!string.IsNullOrEmpty(Roles.Where(a => a == "55").FirstOrDefault()))
                                        {
                                <option value="03">DIMEX</option>
                                <option value="04">NITE</option>
                                        }


                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Cédula<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Cedula" class="form-control" required data-validation-required-message="Este campo es requerido" maxlength="12" onchange="javascript: BuscarCliente()" onblur="javascript: validarCedula()">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Nombre<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Nombre" readonly class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>

                    </div>



                </div>



                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Correo Factura<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Email" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Correo Publicitario<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="CorreoPublicitario" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Teléfono<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Telefono" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nom">Provincia:</label>
                            <select id="selectP" class="form-control" onchange="javascript: ModificaSelects(1)" required>

                                <option value="1" selected>San José</option>
                                <option value="2">Alajuela</option>
                                <option value="3">Cartago</option>
                                <option value="4">Heredia</option>
                                <option value="5">Guanacaste</option>
                                <option value="6">Puntarenas</option>
                                <option value="7">Limón</option>




                            </select>

                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nom">Cantón:</label>
                            <select id="selectC" class="form-control" onchange="javascript: ModificaSelects(2)" required>
                                @foreach (var item in Model.Cantones)
                                {
                                    <option value="@item.CodCanton">@item.NomCanton</option>

                                }


                            </select>

                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nom">Distrito:</label>
                            <select id="selectD" class="form-control" onchange="javascript: ModificaSelects(3)" required>
                                @foreach (var item in Model.Distritos)
                                {
                                    <option value="@item.CodDistrito">@item.NomDistrito</option>

                                }


                            </select>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nom">Barrio:</label>
                            <select id="selectB" class="form-control" required>
                                @foreach (var item in Model.Barrios)
                                {
                                    <option value="@item.CodBarrio">@item.NomBarrio</option>

                                }


                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Dirección<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Sennas" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Lista de Precio<span class="text-danger">*</span></h5>

                            <select class="form-control" id="idListaP">
                                <option value="0">Seleccione</option>

                                @foreach (var item in Model.PrecioLista)
                                {
                                    if (item.Nombre.ToLower().Contains("lista de precios 01".ToLower()))
                                    {
                                        <option value="@item.id" selected>@item.Nombre</option>


                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.Nombre</option>

                                    }
                                }


                            </select>


                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5>Grupo<span class="text-danger">*</span></h5>

                            <select class="form-control" id="idGrupo">
                                <option value="0">Seleccione</option>

                                @foreach (var item in Model.Grupos)
                                {
                                    <option value="@item.id">@item.Nombre</option>
                                }


                            </select>


                        </div>


                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button> &nbsp;
                <button type="button" class="btn btn-primary waves-effect text-left" onclick="javascript: AgregarCliente();">Agregar</button> &nbsp;

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal modal-fill fade" data-backdrop="false" id="modalPagos" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content" style="width: 80%; max-width: 200%; padding-top: 5%;">



            <div class="modal-header">
                <h1 class="modal-title"> Gestión de Pagos </h1>




                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">
                <div class="col-md-10"><h5 class="modal-title">Métodos de Pago</h5> </div>
                <div class="col-md-2"> <h5 class="modal-title" style="text-align: left;">Moneda Pago</h5></div>
            </div>




            <div class="modal-body">
                <div class="row">

                    <div class="col-md-9">

                        <select id="MetodoSeleccionado" class="form-control" onchange="javascript: onChangeMetodo()">
                            <option value="0">Seleccione</option>

                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta">Tarjeta</option>
                            <option value="Transferencia">Transferencia</option>
                            @*<option value="Cheque">Cheque</option>*@
                            <option value="Pago a Cuenta">Pago a Cuenta</option>
                            @* <option value="Otros">Otros</option>*@



                        </select>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">

                            <select class="form-control" id="selectMonedaP" onchange="javascript: onChangeMonedaP()">
                                <option value="CRC" selected>CRC</option>
                                <option value="USD">USD</option>

                            </select>


                        </div>
                    </div>
                </div>

                <br />

                <div class="row MetodosPagoRellenar" id="">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Monto  </label>
                            <input type="number" class="form-control" id="MontoPago" placeholder="Monto Pagado" onchange="javascript: onChangeMonedaP();" value="1">


                        </div>


                    </div>


                    <div class="col-md-4 TARJETADIV">
                        <div class="form-group">
                            <label>BIN (últimos 4 números de la tarjeta)</label>
                            <input type="number" class="form-control" id="BINPago" placeholder="BIN">


                        </div>


                    </div>
                    <div class="col-md-4 TRANSFERENCIADIV">
                        <div class="form-group">
                            <label>Referencia Pago </label>
                            <input type="text" maxlength="10" class="form-control" id="ReferenciaPago" placeholder="Referencia bancaria">


                        </div>


                    </div>


                    <div class="col-md-4 CHEQUEDIV">
                        <div class="form-group">
                            <label>Cheque </label>
                            <input type="text" maxlength="50" class="form-control" id="ChequePago" placeholder="Cheque">


                        </div>


                    </div>
                    <div class="col-md-4 OTRODIV">
                        <div class="form-group">
                            <label>Nombre </label>
                            <input type="text" maxlength="50" class="form-control" id="otroPago" placeholder="Nombre del método">


                        </div>


                    </div>
                    <div class="col-md-4 EFECTIVODIV">
                        <div class="form-group">
                            <label>Paga con:  </label>
                            <input type="number" class="form-control" id="PagadoCon" placeholder="Monto Efectivo">


                        </div>


                    </div>
                    <div class="col-md-4 EFECTIVODIV">
                        <div class="form-group">
                            <label>Moneda Vuelto:  </label>
                            <select class="form-control" id="selectMonedaV" >
                                <option value="CRC" selected>CRC</option>
                                <option value="USD">USD</option>

                            </select>


                        </div>
                    </div>
                    <div class="col-md-4 CUENTADIV">
                        <div class="form-group">

                            <label>Cuenta:  </label> <br />
                            <select class="form-control" id="CuentaB">
                            </select>


                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Colones:  </label>
                            <input type="number" class="form-control" disabled id="TotalC" placeholder="Total Colones">


                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Dólares:  </label>
                            <input type="number" class="form-control" disabled id="TotalD" placeholder="Total Dólares">


                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tipo de Cambio:  </label>
                            <input type="number" readonly class="form-control" disabled id="TipCam" placeholder="Tipo Cambio">


                        </div>


                    </div>

                    <div class="col-sm-12 pl-1" style="text-align: right;">

                        <a id="agregarPago" onclick="javascript: insertarPago() " class="btn btn-primary" style="color: white !important;">+</a>
                    </div>

                </div>

                <br />
                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>


                                    <th>Método</th>
                                    <th class="text-right">BIN</th>
                                    <th class="text-right">Referencia</th>
                                    <th class="text-right">Moneda</th>
                                    <th class="text-right">Total</th>
                                    <th class="text-right">Eliminar</th>

                                </tr>
                            </thead>
                            <tbody id="tbodyPago">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-10"><h5 class="modal-title" style="text-align: right;"><b>Colones</b></h5> </div>
                    <div class="col-md-2"> <h5 class="modal-title" style="text-align: right;"><b>Dolares</b></h5></div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-10 text-right">


                        <div>
                            <p>Total  : <span id="totPago">0</span> </p>
                            <p>Faltante  : <span id="fatPago">0</span></p>
                            <p>Pagado  : <span id="pagPago">0</span></p>


                        </div>
                        <div class="total-payment">
                            <h3><b>Vuelto :</b>  <span id="vueltoPago">0 </span></h3>
                        </div>

                        <div class="total-payment">
                            <h4><b>Vuelto General:</b>  <span id="vueltoPagoG">0 </span></h4>
                        </div>

                    </div>

                    <div class="col-2 text-right">


                        <div>
                            <p>Total  : <span id="totPagoD">0</span> </p>
                            <p>Faltante  : <span id="fatPagoD">0</span></p>
                            <p>Pagado  : <span id="pagPagoD">0</span></p>


                        </div>
                        <div class="total-payment">
                            <h3><b>Vuelto :</b>  <span id="vueltoPagoD">0 </span></h3>
                        </div>

                        <div class="total-payment">
                            <h4><b>Vuelto General:</b>  <span id="vueltoPagoGD">0 </span></h4>
                        </div>

                    </div>


                    <!-- /.col -->
                </div>
            </div>
            <div class="modal-footer">

                <button type="button"  id="botonG" class="btn btn-bold btn-pure btn-primary float-right" onclick="javascript: Generar()">Generar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<script>
    function maskCedula() {
        $("#Telefono").mask("9999-9999");
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    $("#Cedula").mask("999999999");
                    break;
                }
            case "02":
                {
                    $("#Cedula").mask("9999999999");
                    break;
                }
            case "03":
                {
                    $("#Cedula").mask("999999999999");
                    break;
                }
            case "04":
                {
                    $("#Cedula").mask("999999999999");
                    break;
                }
        }

    }

    function validarCedula() {
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    if ($("#Cedula").val().length < 9) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
            case "02":
                {
                    if ($("#Cedula").val().length < 10) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
        }
    }
</script>

<!-- form itself -->
<form id="test-form" class="mfp-hide white-popup-block">
    <h2>Series</h2>
    <fieldset style="border:0;">
        <div class="row">
            <div class="col-md-8">
                <p>A continuación inserte los series seleccionados.</p>
            </div>

            <div class="col-md-4">
                <p> <b>Restante:</b> <a id="Contador">0</a></p>
            </div>

        </div>
        <!-- Table row -->
        <div class="row" id="rowLotes">
        </div>


        <a class="fa fa-plus-circle icono" style="cursor:pointer;" id="plusButton" onclick="javascript: rellenaRowLotes()"> </a>
        <!-- /.row -->
    </fieldset>
    <div class="row">

        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
        <div class="col-4" style=" text-align: right;">
            <button type="button" class="btn btn-primary waves-effect text-right" id="listoCerrar" onclick="javascript: CerrarPopUpLotes();">Listo</button>
        </div>

    </div>
</form>


<div class="modal fade bs-example-modal-lg" id="ModalObservarSeries" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myLargeModalLabel">Series</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                
                <fieldset style="border:0;">
                    <div class="row">
                       

                     

                    </div>
                    <!-- Table row -->
                    <div class="row" id="rowLotes2">
                    </div>


                   
                    <!-- /.row -->
                </fieldset>
            


            </div>
            <div class="modal-footer">
          
                <div class="row">

                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style=" text-align: right;">
                        <button type="button" class="btn btn-primary waves-effect text-left" data-dismiss="modal">Listo</button> &nbsp;
                    </div>

                </div>
               

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>