@page
@using Newtonsoft.Json;
@model NOVAAPP.Pages.PagoCuentas.NuevoModel
@{
    ViewData["Title"] = "PagoCuentas";
}


@section styles{


}

@section scripts{

 

        <script src="/js/PagoCuentas/NuevoPagoCuentas.js" ></script>
    

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pago a Cuenta
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Crear Nuevo Pago a Cuenta</li>
    </ol>
</section>



<section class="content">
    <div class="row">
        <div class="col-12">
            <input hidden id="CB" value="@JsonConvert.SerializeObject(Model.CB)" />
            <input hidden id="TipoCambio" value="@JsonConvert.SerializeObject(Model.TP)" />
            <input hidden id="urlGenerar" value="@Url.Page("Nuevo", "AgregarPagoCuenta")" />
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="box-subtitle"> Crear Nuevo Pago a Cuenta</h6>

                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input type="date" disabled class="form-control" asp-for="Cuenta.Fecha" id="Fecha" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">


                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" asp-for="Cuenta.FechaVencimiento" id="FechaVencimiento" value="@DateTime.Now.Date.AddDays(3).ToString("yyyy-MM-dd")">


                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fecha de Contabilización</label>
                                    <input type="date" class="form-control" asp-for="Cuenta.FechaContabilizacion" id="FechaConta" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Cliente<span class="text-danger">*</span></h5>

                                    <select class="form-control select2  " id="ClienteSeleccionado" asp-for="Cuenta.idCliente">
                                        <option value="0"> Seleccione</option>
                                        @foreach (var item in Model.ClientesLista)
                                        {
                                            <option value="@item.id">@item.Codigo - @item.Nombre</option>
                                        }


                                    </select>



                                </div>
                            </div>
                            <div class="col-md-3" hidden>
                                <div class="form-group">
                                    <h5>Cuenta Bancaria<span class="text-danger">*</span></h5>

                                    <select class="form-control select2  " id="CuentaSeleccionada" asp-for="Cuenta.idCuentaBancaria">
                                        <option value="0"> Seleccione</option>
                                       


                                    </select>



                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Moneda<span class="text-danger">*</span></h5>
                                    <select class="form-control select2" id="selectMoneda" asp-for="Cuenta.Moneda" onchange="javascript: onChangeMoneda()">
                                        @if (Model.Parametro.FirstOrDefault().Pais == "C" || Model.Parametro.FirstOrDefault().Pais == "")
                                        {
                                            <option value="CRC" selected>CRC</option>

                                        }
                                        <option value="USD">USD</option>

                                    </select>


                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Total<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" id="totG" asp-for="Cuenta.Total" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>

                            </div>





                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Comentarios</label>
                                    <textarea asp-for="Cuenta.Comentarios" id="inputComentarios" class="form-control"></textarea>

                                </div>

                            </div>



                        </div>

                        <br />
                        <div class="text-xs-right">
                            <button type="button" id="Guardar" onclick="javascript: AbrirPago()" class="btn btn-info" title="Guardar Cambios">Generar</button>
                        </div>




                    </form>
                </div>


            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal modal-fill fade" data-backdrop="false" id="modalPagos" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content" style="width: 80%; max-width: 200%; padding-top: 5%;">



            <div class="modal-header">
                <h1 class="modal-title"> Gestión de Pagos </h1>




                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">
                <div class="col-md-10"><h5 class="modal-title">Métodos de Pago</h5> </div>
                <div class="col-md-2"> <h5 class="modal-title" style="text-align: left;">Moneda Pago</h5></div>
            </div>




            <div class="modal-body">
                <div class="row">

                    <div class="col-md-9">

                        <select id="MetodoSeleccionado" class="form-control" onchange="javascript: onChangeMetodo()">
                            <option value="0">Seleccione</option>

                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta">Tarjeta</option>
                            <option value="Transferencia">Transferencia</option>
                            @*<option value="Cheque">Cheque</option>*@
                            <option value="Pago a Cuenta">Pago a Cuenta</option>
                            @* <option value="Otros">Otros</option>*@



                        </select>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">

                            <select class="form-control" id="selectMonedaP" onchange="javascript: onChangeMonedaP()">
                                <option value="CRC" selected>CRC</option>
                                <option value="USD">USD</option>

                            </select>


                        </div>
                    </div>
                </div>

                <br />

                <div class="row MetodosPagoRellenar" id="">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Monto  </label>
                            <input type="number" class="form-control" id="MontoPago" placeholder="Monto Pagado" onchange="javascript: onChangeMonedaP();" value="1">


                        </div>


                    </div>


                    <div class="col-md-4 TARJETADIV">
                        <div class="form-group">
                            <label>BIN (últimos 4 números de la tarjeta)</label>
                            <input type="number" class="form-control" id="BINPago" placeholder="BIN">


                        </div>


                    </div>
                    <div class="col-md-4 TRANSFERENCIADIV">
                        <div class="form-group">
                            <label>Referencia Pago </label>
                            <input type="text" maxlength="10" class="form-control" id="ReferenciaPago" placeholder="Referencia bancaria">


                        </div>


                    </div>


                    <div class="col-md-4 CHEQUEDIV">
                        <div class="form-group">
                            <label>Cheque </label>
                            <input type="text" maxlength="50" class="form-control" id="ChequePago" placeholder="Cheque">


                        </div>


                    </div>
                    <div class="col-md-4 OTRODIV">
                        <div class="form-group">
                            <label>Nombre </label>
                            <input type="text" maxlength="50" class="form-control" id="otroPago" placeholder="Nombre del método">


                        </div>


                    </div>
                    <div class="col-md-4 EFECTIVODIV">
                        <div class="form-group">
                            <label>Paga con:  </label>
                            <input type="number" class="form-control" id="PagadoCon" placeholder="Monto Efectivo">


                        </div>


                    </div>
                    <div class="col-md-4 EFECTIVODIV">
                        <div class="form-group">
                            <label>Moneda Vuelto:  </label>
                            <select class="form-control" id="selectMonedaV">
                                <option value="CRC" selected>CRC</option>
                                <option value="USD">USD</option>

                            </select>


                        </div>
                    </div>
                    <div class="col-md-4 CUENTADIV">
                        <div class="form-group">

                            <label>Cuenta:  </label> <br />
                            <select class="form-control" id="CuentaB">
                            </select>


                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Colones:  </label>
                            <input type="number" class="form-control" disabled id="TotalC" placeholder="Total Colones">


                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Dólares:  </label>
                            <input type="number" class="form-control" disabled id="TotalD" placeholder="Total Dólares">


                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tipo de Cambio:  </label>
                            <input type="number" readonly class="form-control" disabled id="TipCam" placeholder="Tipo Cambio">


                        </div>


                    </div>

                    <div class="col-sm-12 pl-1" style="text-align: right;">

                        <a id="agregarPago" onclick="javascript: insertarPago() " class="btn btn-primary" style="color: white !important;">+</a>
                    </div>

                </div>

                <br />
                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>


                                    <th>Método</th>
                                    <th class="text-right">BIN</th>
                                    <th class="text-right">Referencia</th>
                                    <th class="text-right">Moneda</th>
                                    <th class="text-right">Total</th>
                                    <th class="text-right">Eliminar</th>

                                </tr>
                            </thead>
                            <tbody id="tbodyPago">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-10"><h5 class="modal-title" style="text-align: right;"><b>Colones</b></h5> </div>
                    <div class="col-md-2"> <h5 class="modal-title" style="text-align: right;"><b>Dolares</b></h5></div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-10 text-right">


                        <div>
                            <p>Total  : <span id="totPago">0</span> </p>
                            <p>Faltante  : <span id="fatPago">0</span></p>
                            <p>Pagado  : <span id="pagPago">0</span></p>


                        </div>
                        <div class="total-payment">
                            <h3><b>Vuelto :</b>  <span id="vueltoPago">0 </span></h3>
                        </div>

                        <div class="total-payment">
                            <h4><b>Vuelto General:</b>  <span id="vueltoPagoG">0 </span></h4>
                        </div>

                    </div>

                    <div class="col-2 text-right">


                        <div>
                            <p>Total  : <span id="totPagoD">0</span> </p>
                            <p>Faltante  : <span id="fatPagoD">0</span></p>
                            <p>Pagado  : <span id="pagPagoD">0</span></p>


                        </div>
                        <div class="total-payment">
                            <h3><b>Vuelto :</b>  <span id="vueltoPagoD">0 </span></h3>
                        </div>

                        <div class="total-payment">
                            <h4><b>Vuelto General:</b>  <span id="vueltoPagoGD">0 </span></h4>
                        </div>

                    </div>


                    <!-- /.col -->
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="botonG" class="btn btn-bold btn-pure btn-primary float-right" onclick="javascript: Generar()">Generar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->