@page
@model NOVAAPP.Pages.PagoCuentas.NuevoModel
@{
    ViewData["Title"] = "PagoCuentas";
}


@section styles{


}

    @section scripts{

    <script>
        var btn = document.getElementById('Guardar');

        $(document).ready(function() {
            btn.disabled = false;
        });
        function onGuardar() {
            try{
                btn.disabled = true;
                $("#formTipos").submit();
            }catch(e)
            {
                btn.disabled = true;

                 Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error ' + e

                })
            }
            
             

        }
    </script>


}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Pago a Cuenta
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Crear Nuevo Pago a Cuenta</li>
        </ol>
    </section>



    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle"> Crear Nuevo Pago a Cuenta</h6>

                            </div>
                            <div class="col-4">
                                <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input type="date" disabled class="form-control" asp-for="Cuenta.Fecha" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">


                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de Vencimiento</label>
                                        <input type="date" class="form-control" asp-for="Cuenta.FechaVencimiento" value="@DateTime.Now.Date.AddDays(3).ToString("yyyy-MM-dd")">


                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de Contabilización</label>
                                        <input type="date" class="form-control" asp-for="Cuenta.FechaContabilizacion" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h5>Cliente<span class="text-danger">*</span></h5>

                                        <select class="form-control select2  " asp-for="Cuenta.idCliente">
                                            <option value="0"> Seleccione</option>
                                            @foreach (var item in Model.ClientesLista)
                                        {
                                            <option value="@item.id">@item.Codigo - @item.Nombre</option>
                                        }


                                    </select>



                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Moneda<span class="text-danger">*</span></h5>
                                    <select class="form-control select2" asp-for="Cuenta.Moneda">
                                        <option value="CRC" selected>CRC</option>
                                        <option value="USD">USD</option>

                                    </select>


                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Total<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Cuenta.Total" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>

                            </div>





                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Comentarios</label>
                                    <textarea asp-for="Cuenta.Comentarios" class="form-control"></textarea>

                                </div>

                            </div>



                        </div>

                        <br />
                        <div class="text-xs-right">
                            <button type="button" id="Guardar" onclick="javascript: onGuardar()" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
                        </div>




                    </form>
                </div>


            </div>
        </div>

    </div>
</section>

