@page
@model NOVAAPP.Pages.Ofertas.NuevoModel
@{
    ViewData["Title"] = "Ofertas";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles{


}
@section scripts{


    <script>
        $(document).ready(function() {
            jQuery(document).ready(function($) {
                Recuperar();
            });



            $(document).ready(function() {

            });


        });
        var Clientes = []; // variables globales
        var Productos = [];
        var ProdClientes = [];
        var Impuestos = [];

        function Recuperar()
        {
            
            Clientes = JSON.parse($("#Clientes").val());
            Productos = JSON.parse($("#Productos").val());
            Impuestos = JSON.parse($("#Impuestos").val());
        }

        function RellenaProductos()
        {

            var html = "";
             $("#ProductoSeleccionado").html(html);
            for (var i = 0; i < ProdClientes.length; i++)
            {
                html += "<option value='" + ProdClientes[i].id + "' > " + ProdClientes[i].Codigo + " - " + ProdClientes[i].Nombre + " </option>";
            }
             
                                         
                                  
            $("#ProductoSeleccionado").html(html);
        }

        function onChangeCliente()
        {
            var idCliente = $("#ClienteSeleccionado").val();

            var Cliente = Clientes.find(a => a.id == idCliente);
             
            $("#spanDireccion").text(Cliente.Sennas);
            $("#strongInfo").text( "Phone: " + Cliente.Telefono +" "+ "  " + " "+ "  " + "Email: " + Cliente.Email );

            ProdClientes = Productos.filter(a => a.idListaPrecios == Cliente.idListaPrecios);
            RellenaProductos();
        }

           function onChangeProducto()
        {
            var idProducto = $("#ProductoSeleccionado").val();

            var Producto = ProdClientes.find(a => a.id == idProducto);
             
            $("#inputPrecio").val(parseFloat(Producto.PrecioUnitario));
            $("#inputCabys").val(Producto.Cabys);

        }

        function ImprimirPantalla() {
            try {
                // window.print();
                var margins = {
                    top: 10,
                    bottom: 10,
                    left: 10,
                    width: 595
                };


                html = $(".html").html();
                html2pdf(html, {
                    margin: 1,
                    padding: 0,
                    filename: 'OfertaVenta.pdf',
                    image: { type: 'jpeg', quality: 1 },
                    html2canvas: { scale: 2, logging: true },
                    jsPDF: { unit: 'in', format: 'A2', orientation: 'P' },
                    class: ImprimirPantalla
                });

            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }

    </script>


}


    @using Newtonsoft.Json;
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ofertas
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Generar Oferta</li>
        </ol>
    </section>

    <section class="content ">
        <div class="row">
            <div class="col-12">
             <input hidden id="Clientes" value="@JsonConvert.SerializeObject(Model.Clientes)" />
              <input hidden id="Productos" value="@JsonConvert.SerializeObject(Model.Productos)" />

                <!-- Content Header (Page header) -->
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle">Generar Oferta</h6>


                            </div>
                            <div class="col-4">
                                <a asp-page="./Index" class="btn btn-outline-info" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>





                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-header mt-0">
                                    <h2 class="d-inline"><span class="font-size-24">Cotización</span></h2>
                                    <div class="text-left">
                                        <h5>Fecha <span class="font-size-18">22 July 2018</span></h5>
                                    </div>

                                </div>

                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-6 invoice-col">
                                <strong>Para</strong>
                                <address>

                                    <select id="ClienteSeleccionado" asp-for="Oferta.idCliente" class="form-control select2" onchange="javascript: onChangeCliente()">
                                        <option value="0"> Seleccione Cliente</option>
                                    @foreach (var item in Model.Clientes)
                                    {
                                        <option value="@item.id">@item.Codigo - @item.Nombre</option>
                                    }


                                </select>

                                <br><br>
                               <span id="spanDireccion"> </span> <br>
                                <strong id="strongInfo">Phone:   &nbsp;&nbsp;&nbsp;&nbsp; Email:  </strong>
                            </address>
                        </div>
                        <div class="col-sm-4"> <a asp-page="Nuevo" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Agregar Cliente</a></div>
                    </div>
                    <!-- /.col -->
                    <!-- /.row -->
                
                </div>

            </div>

            <div class="box">
                <div class="box-body">
                    <div class="row">
                       
                        
    <div class="col-12  ">
        <div class="x_panel">
            <div class="x_content">
 
                     

                    <div class="row">
                          <div class="col-6">
                              <h3>Productos</h3>
                          </div>
                    </div>
 
        
            </div>
            <div class="x_content">
 
                     

                    <div class="row">
                          <div class="col-6">
                             <select id="ProductoSeleccionado"    class="form-control select2" onchange="javascript: onChangeProducto()" >
                                   <option value="0"> Seleccione Productos</option>
                                   


                                </select>
                          </div>

                    </div>
                            <br />
                            <div class="row">

                            <div class="col-4">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" value="1">


                            </div>


                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Impuesto</label>
                                <br />
                                <select id="impuesto" class="form-control "  style="width: 100%">
                                    <option value="0">Seleccione</option>
                                     @foreach(var item in Model.Impuestos)
                                {
                                    <option value="@item.id">@Math.Round(@item.Tarifa,2)%</option>
                                    
                                }
                            </select>

                            </div>


                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>% Descuento</label>
                                <input type="number" class="form-control" id="descuento" placeholder="Descuento" value="0">


                            </div>


                        </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        <label>Precio Unitario</label>
                                        <input id="inputPrecio" type="number" class="form-control"  placeholder="Precio Unitario" value="0">


                                    </div>


                                </div>

                                 <div class="col-md-6  ">
                                    <div class="form-group">
                                        <label>Cabys</label>
                                        <input id="inputCabys" type="text" maxlength="13" class="form-control"  placeholder="Cabys"  >


                                    </div>


                                </div>
                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        <label>Doc. Exoneración</label>
                                        <select id="exoneracion" class="form-control "  style="width: 100%">
                                    <option value="0">Seleccione</option>
                                     @foreach(var item in Model.Impuestos)
                                {
                                    <option value="@item.id">@item.Tarifa</option>
                                    
                                }
                                </select>

                                    </div>


                                </div>
                                <div class="col-sm-12 pl-1" style="text-align: right;">

                                    <a id="agregar" onclick="javascript: AgregarProducto();" class="btn btn-primary" style="color: white !important;">+ Agregar </a>
                                 </div>



                            </div>
                            
                    
 
        
            </div>
        </div>
    </div>

     



                        


                    </div>
                </div>
            </div>

            
            <div class="box">
                <div class="box-body">
                        <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>

                                        <th>Descripción</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Costo Unitario</th>
                                        <th class="text-right">Descuento</th>
                                        <th class="text-right">Impuesto</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>


                                    <tr>
                                        <td>2</td>

                                        <td>12345678912514 - Product Two</td>
                                        <td class="text-right">1</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$1500.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>

                                        <td>12345678912514 - Product Three</td>
                                        <td class="text-right">2</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$540.00</td>
                                        <td class="text-right">$1080.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>

                                        <td>12345678912514 - Product four</td>
                                        <td class="text-right">3</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$1500.00</td>
                                        <td class="text-right">$320.00</td>
                                        <td class="text-right">$960.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-12 col-sm-6">
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 text-right">


                            <div>
                                <p>Sub Total  :  $3,592.00</p>
                                <p>Descuento  :  $110.44</p>
                                <p>Impuesto :  $646.56</p>

                            </div>
                            <div class="total-payment">
                                <h3><b>Total :</b> $4,349.00</h3>
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <button id="print" class="btn btn-warning" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>
                            <button type="button" class="btn btn-success pull-right">
                                <i class="fa fa-credit-card"></i> Generar
                            </button>
                            <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
                                <i class="fa fa-download"></i> Generar PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





