@page
@model NOVAAPP.Pages.Ofertas.NuevoModel
@{
    ViewData["Title"] = "Ofertas";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles{


}
    @section scripts{


    <script>
        $(document).ready(function() {
            jQuery(document).ready(function($) {
                Recuperar();
            });



            $(document).ready(function() {

            });


        });
        var Clientes = []; // variables globales
        var Productos = [];
        var ProdClientes = [];
        var Impuestos = [];
        var Cantones = [];
        var Distritos = [];
        var Barrios = [];
        var ProdCadena = [];
        var Exoneraciones = [];

        function Recuperar() {
            Cantones = JSON.parse($("#Cantones").val());
            Distritos = JSON.parse($("#Distritos").val());
            Barrios = JSON.parse($("#Barrios").val());
            Clientes = JSON.parse($("#Clientes").val());
            Productos = JSON.parse($("#Productos").val());
            Impuestos = JSON.parse($("#Impuestos").val());
            Exoneraciones = JSON.parse($("#Exoneraciones").val());

            RellenaClientes();
            RellenaExoneraciones();
        }
        function RellenaClientes()
        {
            var html = "";
            $("#ClienteSeleccionado").html(html);
            html += "<option value='0' > Seleccione Cliente </option>";

            for (var i = 0; i < Clientes.length; i++) {
                html += "<option value='" + Clientes[i].id + "' > " + Clientes[i].Codigo + " - " + Clientes[i].Nombre + " </option>";
            }



            $("#ClienteSeleccionado").html(html);
        }
        function RellenaProductos() {

            var html = "";
            $("#ProductoSeleccionado").html(html);

            html += "<option value='0' > Seleccione Producto </option>";

            for (var i = 0; i < ProdClientes.length; i++) {
                html += "<option value='" + ProdClientes[i].id + "' > " + ProdClientes[i].Codigo + " - " + ProdClientes[i].Nombre + " </option>";
            }



            $("#ProductoSeleccionado").html(html);
        }

        function RellenaExoneraciones() {
            var html = "";
            $("#exoneracion").html(html);

            html += "<option value='0' > Seleccione Exoneracion </option>";

            for (var i = 0; i < Exoneraciones.length; i++) {
                html += "<option value='" + Exoneraciones[i].id + "' > " + Exoneraciones[i].NumDoc  + " </option>";
            }



            $("#exoneracion").html(html);
        }

        function onChangeCliente() {
            var idCliente = $("#ClienteSeleccionado").val();

            var Cliente = Clientes.find(a => a.id == idCliente);

            $("#spanDireccion").text(Cliente.Sennas);
            $("#strongInfo").text("Phone: " + Cliente.Telefono + " " + "  " + " " + "  " + "Email: " + Cliente.Email);

            ProdClientes = Productos.filter(a => a.idListaPrecios == Cliente.idListaPrecios);
            RellenaProductos();
        }

        function onChangeProducto() {
            var idProducto = $("#ProductoSeleccionado").val();

            var Producto = ProdClientes.find(a => a.id == idProducto);

            if (Producto != undefined) {
                $("#inputPrecio").val(parseFloat(Producto.PrecioUnitario));
                $("#inputCabys").val(Producto.Cabys);
                $("#impuesto").val(Producto.idImpuesto);
            } else {
                $("#inputPrecio").val(0);
                $("#inputCabys").val("");
                $("#impuesto").val(0);
            }
            


        }

        function ModificaSelects(i) {
            var codProvincia = parseInt($("#selectP").val());
            var codCanton = parseInt($("#selectC").val());
            var codDistrito = parseInt($("#selectD").val());

            if (i == 0) {
                RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }

            if (i == 1) {
                RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }
            if (i == 2) {

                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }

            if (i == 3) {
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));
            }

        }

        function RellenaCantones(ListCantones) {
            var sOptions = '';

            $("#selectC").html('');

            for (var i = 0; i < ListCantones.length; i++) {

                sOptions += '<option value="' + ListCantones[i].CodCanton + '">' + ListCantones[i].NomCanton + '</option>';

            }
            $("#selectC").html(sOptions);
        }

        function RellenaDistritos(ListDistritos) {
            var sOptions = '';

            $("#selectD").html('');

            for (var i = 0; i < ListDistritos.length; i++) {

                sOptions += '<option value="' + ListDistritos[i].CodDistrito + '">' + ListDistritos[i].NomDistrito + '</option>';

            }
            $("#selectD").html(sOptions);
        }

        function RellenaBarrios(ListBarrios) {
            var sOptions = '';

            $("#selectB").html('');

            for (var i = 0; i < ListBarrios.length; i++) {

                sOptions += '<option value="' + ListBarrios[i].CodBarrio + '">' + ListBarrios[i].NomBarrio + '</option>';

            }
            $("#selectB").html(sOptions);
        }

        function AbrirModalAgregarCliente() {
            $("#ModalAgregarCliente").modal("show");
        }

        function validar(cliente)
        {
            if(cliente.idListaPrecios == "" || cliente.idListaPrecios == null)
            {
                return false;
            }else if(cliente.Nombre == "" || cliente.Nombre == null)
            {
                return false;
            }
            else if(cliente.Cedula == "" || cliente.Cedula == null)
            {
                return false;
            }else if(cliente.Email == "" || cliente.Email == null)
            {
                return false;

            }else if(cliente.Telefono == "" || cliente.Telefono == null)
            {
                return false;

            }else if(cliente.Sennas == "" || cliente.Sennas == null)
            {
                return false;
            }

            else
            {
                return true;
            }
        }

        function LimpiarDatosCliente()
        {
             $("#idListaP").val("1").trigger('change.select2');
             $("#Nombre").val("");
             $("#selectTP").val("1").trigger('change.select2');
             $("#Cedula").val("");
             $("#Email").val("");
             $("#Telefono").val("");
             $("#selectP").val("1").trigger('change.select2');
             $("#Sennas").val("");
        }

        function AgregarCliente() {
            try {
                var Cliente =
                {
                    id: 0,
                    Codigo: "",
                    idListaPrecios: $("#idListaP").val(),
                    Nombre:  $("#Nombre").val(),
                    TipoCedula: $("#selectTP").val(),
                    Cedula: $("#Cedula").val(),
                    Email: $("#Email").val(),
                    CodPais: "506",
                    Telefono: $("#Telefono").val(),
                    Provincia: $("#selectP").val(),
                    Canton: $("#selectC").val(),
                    Distrito: $("#selectD").val(),
                    Barrio: $("#selectB").val(),
                    Sennas: $("#Sennas").val(),
                    Saldo: 0,
                    Activo: true,
                    ProcesadoSAP: false,
                    idCondicionPago: 0
                };

                if (validar(Cliente)) {
                    Swal.fire({
                    title: '¿Desea guardar la información de este cliente?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                         
                        var recibidos = JSON.stringify(Cliente);

                        $.ajax({
                            type: 'POST',

                            url: '@Url.Page("Nuevo", "AgregarCliente")',
                            dataType: 'json',
                            data: { recibidos: Cliente },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                 
                                console.log("resultado " + json.cliente);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //Despues de insertar, ocupariamos el id del cliente en la bd 
                                            //para entonces setearlo en el array de clientes

                                            LimpiarDatosCliente();
                                            $("#ModalAgregarCliente").modal("hide");

                                            var ClienteInsertar =
                                            {
                                                id: json.cliente.id,
                                                Codigo: json.cliente.codigo,
                                                idListaPrecios: json.cliente.idListaPrecios,
                                                Nombre: json.cliente.nombre,
                                                TipoCedula: json.cliente.tipoCedula,
                                                Cedula: json.cliente.cedula,
                                                Email: json.cliente.email,
                                                CodPais: json.cliente.codPais,
                                                Telefono: json.cliente.telefono,
                                                Provincia: json.cliente.provincia,
                                                Canton: json.cliente.canton,
                                                Distrito: json.cliente.distrito,
                                                Barrio: json.cliente.barrio,
                                                Sennas: json.cliente.sennas,
                                                Saldo: json.cliente.saldo,
                                                Activo: true,
                                                ProcesadoSAP: false,                                             
                                                idCondicionPago: 0
                                            };

                                            Clientes.push(ClienteInsertar);
                                            RellenaClientes();
                                             $("#ClienteSeleccionado").val(json.cliente.id).trigger('change.select2');


                                        }
                                    })

                                } else {
                                     
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar'

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                
                            },
                            complete: function () {
                               
                            },
                            error: function (error) {
                                
                                
                            }
                        });
                    }
                })
                }else
                {
                     Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Pareciera que aún falta un campo por llenar'

                });
                }



            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }


        function RellenaTabla() {
            var html = "";
            $("#tbody").html(html);


            for (var i = 0; i < ProdCadena.length; i++) {
                html += "<tr>";

                html += "<td> " + (i + 1)  + " </td>";

                html += "<td > " + ProdCadena[i].Descripcion + " </td>";
                html += "<td class='text-right'> " + formatoDecimal(parseFloat(ProdCadena[i].Cantidad).toFixed(2)) + " </td>";
                html += "<td class='text-right'> " + formatoDecimal(parseFloat(ProdCadena[i].PrecioUnitario).toFixed(2)) + " </td>";
                html += "<td class='text-right'> " + formatoDecimal(parseFloat(ProdCadena[i].Descuento).toFixed(2)) + " </td>";
                html += "<td class='text-right'> " + formatoDecimal(parseFloat(ProdCadena[i].TotalImpuesto).toFixed(2)) + " </td>";
                html += "<td class='text-right'> " + formatoDecimal(parseFloat(ProdCadena[i].TotalLinea).toFixed(2)) + " </td>";
                html += "<td class='text-center'> <a class='fa fa-trash' onclick='javascript:EliminarProducto("+ i +") '> </a> </td>";

                html += "</tr>";


            }



            $("#tbody").html(html);
        }

        function AgregarProductoTabla() {
            var subtotalG = parseFloat($("#subG").text());
            var impuestoG = parseFloat($("#impG").text());
            var descuentoG = parseFloat($("#descG").text());
            var totalG = parseFloat($("#totG").text());

            var id = $("#ProductoSeleccionado").val();
            var PE = ProdClientes.find(a => a.id == id);

            var Producto =
            {
                idEncabezado: 0,
                Descripcion: PE.Codigo + " - " + PE.Nombre,
                idProducto: PE.id,
                NumLinea: 0,
                Cantidad: $("#cantidad").val(),
                TotalImpuesto: 0,
                PrecioUnitario: $("#inputPrecio").val(),
                PorDescto: $("#descuento").val(),
                Descuento: 0,
                TotalLinea: 0,
                Cabys: $("#inputCabys").val(),
                idExoneracion: $("#exoneracion").val()
            };

            if (Producto.Cabys.length >= 13) {
                var ImpuestoTarifa = $("#impuesto").val();
                var IMP = Impuestos.find(a => a.id == ImpuestoTarifa);

                var calculoIMP = IMP.Tarifa;

                Producto.TotalImpuesto = (Producto.Cantidad * Producto.PrecioUnitario) * (calculoIMP / 100);
                Producto.Descuento = (Producto.Cantidad * Producto.PrecioUnitario) * (Producto.PorDescto / 100);
                Producto.TotalLinea = (Producto.Cantidad * Producto.PrecioUnitario) - Producto.Descuento + Producto.TotalImpuesto;

                subtotalG += (Producto.Cantidad * Producto.PrecioUnitario);
                impuestoG += Producto.TotalImpuesto;
                descuentoG += Producto.Descuento;
                totalG += Producto.TotalLinea;

                $("#subG").text(formatoDecimal(subtotalG.toFixed(2)));
                $("#descG").text(formatoDecimal(descuentoG.toFixed(2)));
                $("#impG").text(formatoDecimal(impuestoG.toFixed(2)));
                $("#totG").text(formatoDecimal(totalG.toFixed(2)));

                ProdCadena.push(Producto);

                RellenaTabla();

                $("#ProductoSeleccionado").val("0").trigger('change.select2');
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Producto sin Cabys valido'

                })
            }

            

          

            

        }

        function EliminarProducto(i) {

            var Producto = ProdCadena[i];

            var subtotalG = parseFloat($("#subG").text());
            var impuestoG = parseFloat($("#impG").text());
            var descuentoG = parseFloat($("#descG").text());
            var totalG = parseFloat($("#totG").text());

            subtotalG -= (Producto.Cantidad * Producto.PrecioUnitario);
            impuestoG -= Producto.TotalImpuesto;
            descuentoG -= Producto.Descuento;
            totalG -= Producto.TotalLinea;
            $("#subG").text(formatoDecimal(subtotalG.toFixed(2)));
            $("#descG").text(formatoDecimal(descuentoG.toFixed(2)));
            $("#impG").text(formatoDecimal(impuestoG.toFixed(2)));
            $("#totG").text(formatoDecimal(totalG.toFixed(2)));
            ProdCadena.splice(i, 1);
            RellenaTabla();
        }
       
        function Generar() {
            try {


                 var EncOferta= {
                    id: 0 ,
                   idCliente: $("#ClienteSeleccionado").val() ,
                   idUsuarioCreador:  0,
                   Fecha: $("#Fecha").val() ,
                   FechaVencimiento: $("#fechaVencimiento").val() ,
                   Comentarios: $("#inputComentarios").val() ,
                   Subtotal: parseFloat($("#subG").text().replace(",","").replace(".","")) ,
                   TotalImpuestos: parseFloat($("#impG").text().replace(",","").replace(".","")) ,
                   TotalDescuento: parseFloat($("#descG").text().replace(",","").replace(".","")) ,
                   TotalCompra: parseFloat($("#totG").text().replace(",","").replace(".","")) ,
                   PorDescto: parseFloat($("#descuento").val().replace(",","").replace(".","")), 
                   Detalle: ProdCadena
                }

                if(validarOferta(EncOferta))
                {
                     Swal.fire({
                    title: '¿Desea guardar la oferta?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                         
                        

                        $.ajax({
                            type: 'POST',

                            url: '@Url.Page("Nuevo", "AgregarOferta")',
                            dataType: 'json',
                            data: { recibidos: EncOferta },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                 
                                console.log("resultado " + json.Oferta);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //Despues de insertar, ocupariamos el id del cliente en la bd 
                                            //para entonces setearlo en el array de clientes

                                             window.location.href = window.location.href.split("/Nuevo")[0];


                                        }
                                    })

                                } else {
                                     
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar'

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                
                            },
                            complete: function () {
                               
                            },
                            error: function (error) {
                                
                                
                            }
                        });
                    }
                })
                }else{

                }

            }catch(e)
            {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }

           

        }

        function validarOferta(e)
        {
            if(e.idCliente == "0" || e.idCliente == null)
            {
                return false;
            }else if(e.FechaVencimiento == "" || e.FechaVencimiento == null)
            {
                return false;
            } 
            else if(e.Detalle.length == 0 || e.Detalle == null)
            {
                return false;
            } 

            else
            {
                return true;
            }
        }
    </script>


    <script>
        function ImprimirPantalla() {
            try {
                // window.print();
                var margins = {
                    top: 10,
                    bottom: 10,
                    left: 10,
                    width: 595
                };


                html = $(".html").html();
                html2pdf(html, {
                    margin: 1,
                    padding: 0,
                    filename: 'OfertaVenta.pdf',
                    image: { type: 'jpeg', quality: 1 },
                    html2canvas: { scale: 2, logging: true },
                    jsPDF: { unit: 'in', format: 'A2', orientation: 'P' },
                    class: ImprimirPantalla
                });

            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }
    </script>
     <script>
        function BuscarCliente() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: 'https://apis.gometa.org/cedulas/' + $("#Cedula").val() + '&key=gkUkysPxCKUYWZS', //Nombre del metodo
                data: {},
                success: function(result) {

                    console.log(result);

                    if(result.nombre != undefined)
                    {
                         $("#Nombre").val(result.nombre);
                        $("#selectTP").val(result.tipoIdentificacion);
                    }



                },
                beforeSend: function() {

                },
                complete: function() {

                }
            });
        }
    </script>
}


    @using Newtonsoft.Json;
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ofertas
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
            <li class="breadcrumb-item active">Generar Oferta</li>
        </ol>
    </section>

    <section class="content ">
        <div class="row">
            <div class="col-12">
                <input hidden id="Cantones" value="@JsonConvert.SerializeObject(Model.Cantones)" />
                <input hidden id="Distritos" value="@JsonConvert.SerializeObject(Model.Distritos)" />
                <input hidden id="Barrios" value="@JsonConvert.SerializeObject(Model.Barrios)" />
                <input hidden id="Clientes" value="@JsonConvert.SerializeObject(Model.Clientes)" />
                <input hidden id="Productos" value="@JsonConvert.SerializeObject(Model.Productos)" />
                <input hidden id="Impuestos" value="@JsonConvert.SerializeObject(Model.Impuestos)" />
                <input hidden id="Exoneraciones" value="@JsonConvert.SerializeObject(Model.Exoneraciones)" />


                <!-- Content Header (Page header) -->
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle">Generar Oferta</h6>


                            </div>
                            <div class="col-4">
                                <a asp-page="./Index" class="btn btn-outline-info" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>





                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-6">
                                <div class="page-header mt-0">
                                    <h2 class="d-inline"><span class="font-size-24">Cotización</span></h2>
                                    <div class="text-left">
                                        <h5>Fecha <span class="font-size-18">@DateTime.Now.ToString("dd MMM yyy")</span></h5>
                                        <input hidden id="Fecha" type="datetime" value="@DateTime.Now" />

                                    </div>

                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Fecha Vencimiento</label>
                                    <input type="date" class="form-control" id="fechaVencimiento" value="@DateTime.Now.Date">


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-6 invoice-col">
                                <strong>Para</strong>
                                <address>

                                    <select id="ClienteSeleccionado" asp-for="Oferta.idCliente" class="form-control select2" onchange="javascript: onChangeCliente()">
                                        <option value="0"> Seleccione Cliente</option>



                                    </select>

                                    <br><br>
                                    <span id="spanDireccion"> </span> <br>
                                    <strong id="strongInfo">Phone:   &nbsp;&nbsp;&nbsp;&nbsp; Email:  </strong>
                                </address>
                            </div>
                            <div class="col-sm-4"> <a onclick="javascript: AbrirModalAgregarCliente()" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Agregar Cliente</a></div>
                        </div>
                        <!-- /.col -->
                        <!-- /.row -->

                    </div>

                </div>

                <div class="box">
                    <div class="box-body">
                        <div class="row">


                            <div class="col-12  ">
                                <div class="x_panel">
                                    <div class="x_content">



                                        <div class="row">
                                            <div class="col-6">
                                                <h3>Productos</h3>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="x_content">



                                        <div class="row">
                                            <div class="col-6">
                                                <select id="ProductoSeleccionado" class="form-control select2" onchange="javascript: onChangeProducto()">
                                                    <option value="0"> Seleccione Productos</option>



                                                </select>
                                            </div>

                                        </div>
                                        <br />
                                        <div class="row">

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" value="1">


                                                </div>


                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Impuesto</label>
                                                    <br />
                                                    <select id="impuesto" class="form-control " style="width: 100%">
                                                        <option value="0">Seleccione</option>
                                                        @foreach (var item in Model.Impuestos)
                                                        {
                                                            <option value="@item.id">@Math.Round(@item.Tarifa, 2)%</option>

                                                        }
                                                    </select>

                                                </div>


                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>% Descuento</label>
                                                    <input type="number" class="form-control" id="descuento" placeholder="Descuento" value="0">


                                                </div>


                                            </div>
                                        </div>

                                        <br />

                                        <div class="row">
                                            <div class="col-md-3 pr-1">
                                                <div class="form-group">
                                                    <label>Precio Unitario</label>
                                                    <input id="inputPrecio" type="number" class="form-control" placeholder="Precio Unitario" value="0">


                                                </div>


                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cabys</label>
                                                    <input id="inputCabys" type="text" maxlength="13" class="form-control" placeholder="Cabys">


                                                </div>


                                            </div>
                                            <div class="col-md-3 pr-1">
                                                <div class="form-group">
                                                    <label>Doc. Exoneración</label>
                                                    <select id="exoneracion" class="form-control " style="width: 100%">
                                                        <option value="0">Seleccione</option>
                                                        
                                                    </select>

                                                </div>


                                            </div>
                                            <div class="col-sm-12 pl-1" style="text-align: right;">

                                                <a id="agregar" onclick="javascript: AgregarProductoTabla();" class="btn btn-primary" style="color: white !important;">+ Agregar </a>
                                            </div>



                                        </div>




                                    </div>
                                </div>
                            </div>








                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="box-body">
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>

                                            <th>Descripción</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Costo Unitario</th>
                                            <th class="text-right">Descuento</th>
                                            <th class="text-right">Impuesto</th>
                                            <th class="text-right">Total</th>
                                            <th class="text-right">Eliminar</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-12 col-sm-6">
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6 text-right">


                                <div>
                                    <p>Sub Total  : <span id="subG">0</span> </p>
                                    <p>Descuento  : <span id="descG">0</span></p>
                                    <p>Impuesto :  <span id="impG"> 0</span></p>

                                </div>
                                <div class="total-payment">
                                    <h3><b>Total :</b>  <span id="totG">0 </span></h3>
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </div>
                </div>


                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label>Comentarios</label>
                                    <textarea id="inputComentarios" class="form-control"></textarea>

                                </div>

                            </div>

                        </div>
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                <button id="print" class="btn btn-warning" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>
                                <button type="button" class="btn btn-success pull-right" onclick="    javascript: Generar()">
                                    <i class="fa fa-credit-card"></i> Generar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</section>


<!--Modal para agregar Clientes-->


<div class="modal fade bs-example-modal-lg" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Agregar Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="cyber">Tipo de Cédula:</label>
                            <select id="selectTP" class="form-control" required>
                                <option value="01">Nacional</option>
                                <option value="02">Jurídica</option>
                                <option value="03">DIMEX</option>
                                <option value="04">NITE</option>


                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <h5>Cédula<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Cedula" class="form-control" required data-validation-required-message="Este campo es requerido" maxlength="12" onchange="javascript: BuscarCliente()">
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <h5>Nombre<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Nombre" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>

                    </div>



                </div>



                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <h5>Email<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Email" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <h5>Teléfono<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="number" id="Telefono" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="nom">Provincia:</label>
                            <select id="selectP" class="form-control" onchange="javascript: ModificaSelects(1)" required>

                                <option value="1" selected>San José</option>
                                <option value="2">Alajuela</option>
                                <option value="3">Cartago</option>
                                <option value="4">Heredia</option>
                                <option value="5">Guanacaste</option>
                                <option value="6">Puntarenas</option>
                                <option value="7">Limón</option>




                            </select>

                        </div>


                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="nom">Cantón:</label>
                            <select id="selectC" class="form-control" onchange="javascript: ModificaSelects(2)" required>
                                @foreach (var item in Model.Cantones)
                                {
                                    <option value="@item.CodCanton">@item.NomCanton</option>

                                }


                            </select>

                        </div>


                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="nom">Distrito:</label>
                            <select id="selectD" class="form-control" onchange="javascript: ModificaSelects(3)" required>
                                @foreach (var item in Model.Distritos)
                                {
                                    <option value="@item.CodDistrito">@item.NomDistrito</option>

                                }


                            </select>

                        </div>

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="nom">Barrio:</label>
                            <select id="selectB" class="form-control" required>
                                @foreach (var item in Model.Barrios)
                                {
                                    <option value="@item.CodBarrio">@item.NomBarrio</option>

                                }


                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <h5>Dirección<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" id="Sennas" class="form-control" required data-validation-required-message="Este campo es requerido">
                            </div>

                        </div>


                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <h5>Lista de Precio<span class="text-danger">*</span></h5>

                            <select class="form-control select2" style="width: 200px;" id="idListaP">
                               <option value="">Seleccione</option>

                                @foreach (var item in Model.PrecioLista)
                                {
                                    <option value="@item.id">@item.Nombre</option>
                                }


                            </select>


                        </div>


                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button> &nbsp;
                <button type="button" class="btn btn-primary waves-effect text-left" onclick="javascript: AgregarCliente();">Agregar</button> &nbsp;

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
