@page "{id}"
@model NOVAAPP.Pages.PreCierres.ObservarModel
@{

    ViewData["Title"] = "Pre Cierres";
    NumberFormatInfo formato = new CultureInfo("es-CR").NumberFormat;
    formato.CurrencySymbol = "";
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles{


}
@section scripts{


    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {

            });



            $(document).ready(function () {

            });


        });

        function ImprimirPantalla() {
            try {
                // window.print();
                var margins = {
                    top: 10,
                    bottom: 10,
                    left: 10,
                    width: 595
                };


                html = $(".html").html();
                html2pdf(html, {
                    margin: 1,
                    padding: 0,
                    filename: 'PreCierre.pdf',
                    image: { type: 'jpeg', quality: 1 },
                    html2canvas: { scale: 2, logging: true },
                    jsPDF: { unit: 'in', format: 'A2', orientation: 'P' },
                    class: ImprimirPantalla
                });

            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }

    </script>


}


@using Newtonsoft.Json;
@using System.Globalization
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       Pre Cierre
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Observar Pre Cierre</li>
    </ol>
</section>

<section class="content ">
    <div class="row">
        <div class="col-12">






            <!-- Content Header (Page header) -->
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="box-subtitle">Observar  Pre Cierre</h6>


                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                            &nbsp;


                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page-header mt-0">
                                <h2 class="d-inline"><span class="font-size-24">Pre Cierre</span></h2>
                                <div class="text-left">
                                    <h5>Fecha <span class="font-size-18">@Model.Cierres.FechaCaja.ToString("dd MMM yyy")</span></h5>


                                </div>

                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Usuario</label>
                                <h6> @Model.Users.Nombre </h6>


                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Caja</label>
                                <h6>@(Model.Cajos.Where(a => a.id == Model.Cierres.idCaja).FirstOrDefault() == null ? "Caja Inexistente" : Model.Cajos.Where(a => a.id == Model.Cierres.idCaja).FirstOrDefault().Nombre) </h6>


                            </div>
                        </div>


                          @if (Model.Pais == "C" || Model.Pais == "")
                            {
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Tipo de Cambio</label>
                                <h6>₡@Math.Round( Model.TC.Where(a => a.Fecha == Model.Cierres.FechaCaja).FirstOrDefault() == null ? 0 :  Model.TC.Where(a => a.Fecha == Model.Cierres.FechaCaja).FirstOrDefault().TipoCambio, 2).ToString("C",formato)  </h6>


                            </div>
                        </div>
                            }


                        <div class="col-md-2">
                            <div class="form-group">
                                <label>IP</label>
                                <h6>@Model.Cierres.IP </h6>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>


                </div>

            </div>



            <div class="box">

                <div class="box-body">
                    <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <input hidden asp-for="Cierres.id" />
                      
                        <!-- title row -->
                        <div class="row">
                              @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Apertura Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TotalAperturaColones, 2).ToString("C",formato) </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apertura Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TotalAperturaFC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>

                            <!-- /.col -->
                        </div>
                        <hr />
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Totalizados Sistema </strong>


                                </address>
                            </div>






                            <!-- /.col -->
                        </div>
                        <!-- title row -->
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Efectivo Colones</label>
                                    <h6>  ₡@Math.Round(Model.Cierres.EfectivoColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Tarjetas Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TarjetasColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Efectivo Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.EfectivoFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tarjetas Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TarjetasFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>


                        <!-- title row -->
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Cheques Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.ChequesColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Otros Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.OtrosMediosColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cheques Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.ChequesFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Otros Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.OtrosMediosFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- title row -->
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Transferencias Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TransferenciasColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Notas Crédito Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.NotasCreditoColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Transferencias Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TransferenciasDolares, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Notas Crédito Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.NotasCreditoFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>


                            <!-- /.col -->
                            <!-- title row -->

                        </div>

                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Total Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TotalVendidoColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TotalVendidoFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <!-- /.col -->
                            <!-- title row -->

                        </div>
                        <hr />
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Totalizados Cajero </strong>


                                </address>
                            </div>






                            <!-- /.col -->
                        </div>
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Efectivo Colones Cajero</label>
                                    <h6> ₡@Math.Round(Model.Cierres.EfectivoColonesC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tarjetas Colones Cajero</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TarjetasColonesC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Efectivo Dólares Cajero</label>
                                    <h6> $@Math.Round(Model.Cierres.EfectivoFCC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Tarjetas Dólares Cajero</label>
                                    <h6> $@Math.Round(Model.Cierres.TarjetasFCC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>

                            <!-- /.col -->
                        </div>

                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Cheques Colones Cajero</label>
                                    <h6> ₡@Math.Round(Model.Cierres.ChequesColonesC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Otros Colones Cajero</label>
                                    <h6> ₡@Math.Round(Model.Cierres.OtrosMediosColonesC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cheques Dólares Cajero</label>
                                    <h6> $@Math.Round(Model.Cierres.ChequesFCC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Otros Dólares Cajero</label>
                                    <h6> $@Math.Round(Model.Cierres.OtrosMediosFCC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- title row -->
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-6">

                                <div class="form-group">
                                    <label>Transferencias Colones Cajero</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TransferenciasColonesC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Transferencias Dólares Cajero</label>
                                    <h6> $@Math.Round(Model.Cierres.TransferenciasDolaresC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>

                            <!-- /.col -->
                            <!-- title row -->

                        </div>



                        <hr />
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Totales </strong>


                                </address>
                            </div>






                            <!-- /.col -->
                        </div>
                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Total Registrado Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TotalRegistradoColones, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Total Registrado Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TotalRegistradoFC, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Totalizado</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TotalizadoMonedas, 2).ToString("C",formato)  </h6>


                                </div>
                            </div>
                            <!-- /.col -->
                        </div>


                        <div class="row">
                            @if (Model.Pais == "C" || Model.Pais == "")
                            {
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Diferencia Colones</label>
                                    <h6> ₡@Math.Round(Model.Cierres.TotalVendidoColones - Model.Cierres.TotalRegistradoColones).ToString("C",formato) </h6>


                                </div>
                            </div>
                            }
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Diferencia Dólares</label>
                                    <h6> $@Math.Round(Model.Cierres.TotalVendidoFC - Model.Cierres.TotalRegistradoFC, 2).ToString("C",formato) </h6>


                                </div>
                            </div>

                            <!-- /.col -->
                        </div>






                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="box">

                <div class="box-body">
                    <!-- title row -->
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-4 invoice-col">

                            <address>
                                <strong class="text-blue font-size-24">Métodos Pagos </strong>


                            </address>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">Método </th>
                                        <th class="text-center">Factura</th>
                                        <th class="text-center">Pago</th>
                                        <th class="text-center">Banco</th>
                                        <th class="text-center">Cuenta</th>
                                        <th class="text-center">Referencia</th>
                                        <th class="text-center">Moneda</th>
                                        <th class="text-center">Tipo</th>
                                        <th class="text-center">Total</th>





                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item2 in Model.Pagos.GroupBy(a => a.Metodo))
                                    {

                                        @foreach (var item in item2)
                                        {
                                            <tr>
                                                <td class="text-center">@item.Metodo</td>

                                                <td class="text-right">@item.idEncabezado</td>

                                                <td>@item.id</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                <td class="text-center">@item.NumReferencia</td>

                                                <td class="text-center"> @item.Moneda </td>
                                                <td class="text-center"> Facturación </td>

                                                <td class="text-right">@item.Monto.ToString("C",formato)</td>


                                            </tr>
                                        }

                                    }

                                    @foreach (var item2 in Model.MetodoAbono.GroupBy(a => a.Metodo))
                                    {

                                        @foreach (var item in item2)
                                        {
                                            <tr>
                                                <td class="text-center">@item.Metodo</td>

                                                <td class="text-right">@item.idEncabezado</td>

                                                <td>@item.id</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                <td class="text-center">@item.NumReferencia</td>

                                                <td class="text-center"> @item.Moneda </td>
                                                <td class="text-center"> Abono </td>


                                                <td class="text-right">@item.Monto.ToString("C",formato)</td>










                                            </tr>
                                        }

                                    }

                                    @foreach (var item2 in Model.MetodoCuenta.GroupBy(a => a.Metodo))
                                    {

                                        @foreach (var item in item2)
                                        {
                                            <tr>
                                                <td class="text-center">@item.Metodo</td>

                                                <td class="text-right">@item.idEncabezado</td>

                                                <td>@item.id</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                <td class="text-center">@item.NumReferencia</td>

                                                <td class="text-center"> @item.Moneda </td>
                                                <td class="text-center"> Pagos a Cuenta </td>


                                                <td class="text-right">@item.Monto.ToString("C",formato)</td>










                                            </tr>
                                        }

                                    }





                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-12  text-right">
                            <div>
                                @{
                                    var cond = Model.Condicion;
                                }
                                @if (Model.Pais == "C" || Model.Pais == "")
                                {
                                <p>Total Colones  : <span> ₡ @Math.Round( Model.TotalColones, 2).ToString("C",formato)</span> </p>
                                }
                                <p>Total Dólares  : <span> $ @Math.Round(Model.TotalFC, 2).ToString("C",formato)</span></p>


                            </div>
                            <div class="total-payment">
                                <h3><b>Totalizado :</b>  <span> ₡ @((@Math.Round(Model.Totalizado, 2).ToString("C", formato))) </span></h3>
                            </div>



                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box -->

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="box">

                <div class="box-body">
                    <!-- title row -->
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-4 invoice-col">

                            <address>
                                <strong class="text-blue font-size-24">Facturas Crédito </strong>


                            </address>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">Factura</th>
                                        <th class="text-center">Cliente</th>
                                        <th class="text-center">Condición de Pago</th>
                                        <th class="text-center">Moneda</th>
                                        <th class="text-center">Total</th>





                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var TotalC = 0.00;
                                        var TotalD = 0.00;


                                    }
                                    @foreach (var item2 in Model.Documento.Where(a => a.idCondPago != cond.id && a.Status == "0"))
                                    {


                                        <tr>
                                            <td class="text-center">@item2.id</td>

                                            <td> @(Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault() == null ? "Cliente Inexistente" : Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Codigo + " - " + Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Nombre)</td>


                                            <td> @(Model.CondicionC.Where(a => a.id == item2.idCondPago).FirstOrDefault() == null ? "Condición Inexistente" : Model.CondicionC.Where(a => a.id == item2.idCondPago).FirstOrDefault().Nombre)</td>
                                            <td class="text-center"> @item2.Moneda </td>





                                            <td class="text-right"> @Math.Round( Convert.ToDecimal(item2.TotalCompra + item2.Redondeo), 2).ToString("C",formato)</td>



                                            @{
                                                if (@item2.Moneda == "CRC")
                                                {
                                                    TotalC += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                }
                                                else
                                                {
                                                    TotalD += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                }


                                            }




                                        </tr>


                                    }






                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-12  text-right">
                            <div>
                                @{

                                }
                                @if (Model.Pais == "C" || Model.Pais == "")
                                {
                                <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalC), 2).ToString("C",formato)</span> </p>
                                }
                                <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalD), 2).ToString("C",formato)</span></p>


                            </div>



                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box -->

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="box">

                <div class="box-body">
                    <!-- title row -->
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-4 invoice-col">

                            <address>
                                <strong class="text-blue font-size-24">Notas de Crédito </strong>


                            </address>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Cliente</th>
                                        <th class="text-center">Referencia</th>
                                        <th class="text-center">Moneda</th>
                                        <th class="text-center">Total</th>





                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var TotalNC = 0.00;
                                        var TotalND = 0.00;


                                    }
                                    @foreach (var item2 in Model.Documento.Where(a => a.TipoDocumento == "03"))
                                    {


                                        <tr>
                                            <td class="text-center">@item2.id</td>

                                            <td> @(Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault() == null ? "Cliente Inexistente" : Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Codigo + " - " + Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Nombre)</td>


                                            <td>@item2.Comentarios</td>
                                            <td class="text-center"> @item2.Moneda </td>






                                            <td class="text-right"> @Math.Round( Convert.ToDecimal(item2.TotalCompra + item2.Redondeo), 2).ToString("C",formato)</td>



                                            @{
                                                if (@item2.Moneda == "CRC")
                                                {
                                                    TotalNC += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                }
                                                else
                                                {
                                                    TotalND += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                }


                                            }



                                        </tr>


                                    }






                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-12  text-right">
                            <div>
                                @{

                                }
                                @if (Model.Pais == "C" || Model.Pais == "")
                                {
                                <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalNC), 2).ToString("C",formato)</span> </p>
                                }
                                <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalND), 2).ToString("C",formato)</span></p>


                            </div>



                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box -->

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="box">

                <div class="box-body">
                    <!-- title row -->
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-4 invoice-col">

                            <address>
                                <strong class="text-blue font-size-24">Pagos a Cuenta </strong>


                            </address>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Cliente</th>
                                        <th class="text-center">Moneda</th>
                                        <th class="text-center">Total</th>





                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var TotalPC = 0.00;
                                        var TotalPD = 0.00;


                                    }
                                    @foreach (var item2 in Model.PagoCuentas)
                                    {


                                        <tr>
                                            <td class="text-center">@item2.id</td>

                                            <td> @(Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault() == null ? "Cliente Inexistente" : Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Codigo + " - " + Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Nombre)</td>



                                            <td class="text-center"> @item2.Moneda </td>





                                            <td class="text-right">@item2.Total.ToString("C",formato)</td>



                                            @{
                                                if (@item2.Moneda == "CRC")
                                                {
                                                    TotalPC += Convert.ToDouble(@item2.Total);
                                                }
                                                else
                                                {
                                                    TotalPD += Convert.ToDouble(@item2.Total);
                                                }


                                            }




                                        </tr>


                                    }






                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-12  text-right">
                            <div>
                                @{

                                }
                                @if (Model.Pais == "C" || Model.Pais == "")
                                {
                                <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalPC), 2).ToString("C",formato)</span> </p>
                                }
                                <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalPD), 2).ToString("C",formato)</span></p>


                            </div>



                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box -->

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="box">

                <div class="box-body">
                    <!-- title row -->
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-4 invoice-col">

                            <address>
                                <strong class="text-blue font-size-24">Depósitos </strong>


                            </address>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Banco</th>
                                        <th class="text-center">Moneda</th>
                                        <th class="text-center">Total</th>





                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var TotalDC = 0.00;
                                        var TotalDD = 0.00;


                                    }
                                    @foreach (var item2 in Model.Depositos)
                                    {


                                        <tr>
                                            <td class="text-center">@item2.id</td>
                                            <td class="text-center"> @item2.Banco </td>

                                            <td class="text-center"> @item2.Moneda </td>





                                            <td class="text-right">@item2.Saldo.ToString("C",formato)</td>



                                            @{
                                                if (@item2.Moneda == "CRC")
                                                {
                                                    TotalDC += Convert.ToDouble(@item2.Saldo);
                                                }
                                                else
                                                {
                                                    TotalDD += Convert.ToDouble(@item2.Saldo);
                                                }


                                            }




                                        </tr>


                                    }






                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-12  text-right">
                            <div>
                                @{

                                }
                                @if (Model.Pais == "C" || Model.Pais == "")
                                {
                                <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalDC), 2).ToString("C",formato)</span> </p>
                                }
                                <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalDD), 2).ToString("C",formato)</span></p>


                            </div>



                        </div>
                        <div class="text-xs-right">
                            <button id="print" class="btn btn-warning" type="button" onclick="javascript: ImprimirPantalla()"> <span><i class="fa fa-print"></i> Imprimir</span> </button>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box -->

        </div>
    </div>
</section>


<div class="html" hidden>
    <div class="box-body">
        <!-- title row -->
        <div class="row">
            <div class="col-6">
                <div class="page-header mt-0">
                    <h2 class="d-inline"><span class="font-size-24">Pre Cierre</span></h2>
                    <div class="text-left">
                        <h5>Fecha <span class="font-size-18">@Model.Cierres.FechaCaja.ToString("dd MMM yyy")</span></h5>


                    </div>

                </div>

            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Usuario</label>
                    <h6> @Model.Users.Nombre </h6>


                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Caja</label>
                    <h6>@(Model.Cajos.Where(a => a.id == Model.Cierres.idCaja).FirstOrDefault() == null ? "Caja Inexistente" : Model.Cajos.Where(a => a.id == Model.Cierres.idCaja).FirstOrDefault().Nombre) </h6>


                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>IP</label>
                    <h6>@Model.Cierres.IP </h6>


                </div>
            </div>
            <!-- /.col -->
        </div>


    </div>
    <div class="box">

        <div class="box-body">
            <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden id="TipoCambio" value="@JsonConvert.SerializeObject(Model.TC)" />

                <input hidden asp-for="Cierres.idCaja" />
                <input hidden asp-for="Cierres.FechaCaja" />
                <input hidden asp-for="Cierres.idUsuario" />
                <!-- title row -->
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-6">

                        <div class="form-group">
                            <label>Apertura Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TotalAperturaColones, 2).ToString("C",formato) </h6>


                        </div>
                    </div>
                    }
                    <div class="col-6">
                        <div class="form-group">
                            <label>Apertura Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TotalAperturaFC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                </div>
                <hr />
                <div class="row invoice-info">
                    <div class="col-md-4 invoice-col">

                        <address>
                            <strong class="text-blue font-size-24">Totalizados Sistema </strong>


                        </address>
                    </div>






                    <!-- /.col -->
                </div>

                <!-- title row -->

                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Efectivo Colones</label>
                            <h6>  ₡@Math.Round(Model.Cierres.EfectivoColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">
                        <div class="form-group">
                            <label>Efectivo Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.EfectivoFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Tarjetas Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TarjetasColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">
                        <div class="form-group">
                            <label>Tarjetas Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TarjetasFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <!-- /.col -->
                </div>


                <!-- title row -->
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Cheques Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.ChequesColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">
                        <div class="form-group">
                            <label>Cheques Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.ChequesFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Otros Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.OtrosMediosColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">
                        <div class="form-group">
                            <label>Otros Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.OtrosMediosFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-md-3">

                        <div class="form-group">
                            <label>Transferencias Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TransferenciasColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }

                    <div class="col-md-3">

                        <div class="form-group">
                            <label>Notas Crédito Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.NotasCreditoColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Transferencias Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TransferenciasDolares, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>>Notas Crédito Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.NotasCreditoFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                    <!-- title row -->

                </div>
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-6">

                        <div class="form-group">
                            <label>Total Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TotalVendidoColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-6">
                        <div class="form-group">
                            <label>Total Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TotalVendidoFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                    <!-- title row -->

                </div>
                <hr />
                <!-- title row -->
                <div class="row invoice-info">
                    <div class="col-md-4 invoice-col">

                        <address>
                            <strong class="text-blue font-size-24">Totalizados Cajero </strong>


                        </address>
                    </div>






                    <!-- /.col -->
                </div>
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Efectivo Colones Cajero</label>
                            <h6> ₡@Math.Round(Model.Cierres.EfectivoColonesC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Tarjetas Colones Cajero</label>
                            <h6> ₡@Math.Round(Model.Cierres.TarjetasColonesC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">

                        <div class="form-group">
                            <label>Efectivo Dólares Cajero</label>
                            <h6> $@Math.Round(Model.Cierres.EfectivoFCC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>
                    <div class="col-3">

                        <div class="form-group">
                            <label>Tarjetas Dólares Cajero</label>
                            <h6> $@Math.Round(Model.Cierres.TarjetasFCC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                </div>
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-3">

                        <div class="form-group">
                            <label>Cheques Colones Cajero</label>
                            <h6> ₡@Math.Round(Model.Cierres.ChequesColonesC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <div class="col-3">

                        <div class="form-group">
                            <label>Otros Colones Cajero</label>
                            <h6> ₡@Math.Round(Model.Cierres.OtrosMediosColonesC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-3">
                        <div class="form-group">
                            <label>Cheques Dólares Cajero</label>
                            <h6> $@Math.Round(Model.Cierres.ChequesFCC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label>Otros Dólares Cajero</label>
                            <h6> $@Math.Round(Model.Cierres.OtrosMediosFCC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- title row -->
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-6">

                        <div class="form-group">
                            <label>Transferencias Colones Cajero</label>
                            <h6> ₡@Math.Round(Model.Cierres.TransferenciasColonesC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-6">
                        <div class="form-group">
                            <label>Transferencias Dólares Cajero</label>
                            <h6> $@Math.Round(Model.Cierres.TransferenciasDolaresC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                    <!-- title row -->

                </div>
                <hr />
                <div class="row invoice-info">
                    <div class="col-md-4 invoice-col">

                        <address>
                            <strong class="text-blue font-size-24">Totales</strong>


                        </address>
                    </div>






                    <!-- /.col -->
                </div>
                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-4">

                        <div class="form-group">
                            <label>Total Registrado Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TotalRegistradoColones, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    }
                    <div class="col-4">
                        <div class="form-group">
                            <label>Total Registrado Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TotalRegistradoFC, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Totalizado</label>
                            <h6> ₡@Math.Round(Model.Cierres.TotalizadoMonedas, 2).ToString("C",formato)  </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                </div>



                <div class="row">
                    @if (Model.Pais == "C" || Model.Pais == "")
                    {
                    <div class="col-6">

                        <div class="form-group">
                            <label>Faltantes Colones</label>
                            <h6> ₡@Math.Round(Model.Cierres.TotalVendidoColones - Model.Cierres.TotalRegistradoColones).ToString("C",formato) </h6>


                        </div>
                    </div>
                    }
                    <div class="col-6">
                        <div class="form-group">
                            <label>Faltantes Dólares</label>
                            <h6> $@Math.Round(Model.Cierres.TotalVendidoFC - Model.Cierres.TotalRegistradoFC, 2).ToString("C",formato) </h6>


                        </div>
                    </div>

                    <!-- /.col -->
                </div>








            </form>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="box">

                    <div class="box-body">
                        <!-- title row -->
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Métodos Pagos </strong>


                                </address>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-bordered print-friendly">
                                    <thead>
                                        <tr class="bg-pale-info">
                                            <th class="text-center">Método </th>
                                            <th class="text-center">Factura</th>
                                            <th class="text-center">Pago</th>
                                            <th class="text-center">Banco</th>
                                            <th class="text-center">Cuenta</th>
                                            <th class="text-center">Referencia</th>
                                            <th class="text-center">Moneda</th>
                                            <th class="text-center">Tipo</th>
                                            <th class="text-center">Total</th>





                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item2 in Model.Pagos.GroupBy(a => a.Metodo))
                                        {

                                            @foreach (var item in item2)
                                            {
                                                <tr>
                                                    <td class="text-center">@item.Metodo</td>

                                                    <td class="text-right">@item.idEncabezado</td>

                                                    <td>@item.id</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                    <td class="text-center">@item.NumReferencia</td>

                                                    <td class="text-center"> @item.Moneda </td>
                                                    <td class="text-center"> Facturación </td>

                                                    <td class="text-right">@item.Monto.ToString("C",formato)</td>


                                                </tr>
                                            }

                                        }

                                        @foreach (var item2 in Model.MetodoAbono.GroupBy(a => a.Metodo))
                                        {

                                            @foreach (var item in item2)
                                            {
                                                <tr>
                                                    <td class="text-center">@item.Metodo</td>

                                                    <td class="text-right">@item.idEncabezado</td>

                                                    <td>@item.id</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                    <td class="text-center">@item.NumReferencia</td>

                                                    <td class="text-center"> @item.Moneda </td>
                                                    <td class="text-center"> Abono </td>


                                                    <td class="text-right">@item.Monto.ToString("C",formato)</td>










                                                </tr>
                                            }

                                        }

                                        @foreach (var item2 in Model.MetodoCuenta.GroupBy(a => a.Metodo))
                                        {

                                            @foreach (var item in item2)
                                            {
                                                <tr>
                                                    <td class="text-center">@item.Metodo</td>

                                                    <td class="text-right">@item.idEncabezado</td>

                                                    <td>@item.id</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Banco)</td>

                                                    <td class="text-center"> @(Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault() == null ? "Cuenta Inexistente" : Model.CuentasBancarias.Where(a => a.id == item.idCuentaBancaria).FirstOrDefault().Nombre)</td>

                                                    <td class="text-center">@item.NumReferencia</td>

                                                    <td class="text-center"> @item.Moneda </td>
                                                    <td class="text-center"> Pagos a Cuenta </td>


                                                    <td class="text-right">@item.Monto.ToString("C",formato)</td>










                                                </tr>
                                            }

                                        }







                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                            <div class="col-12  text-right">


                                <div>
                                    @if (Model.Pais == "C" || Model.Pais == "")
                                    {
                                    <p>Total Colones  : <span> ₡ @Math.Round( Model.TotalColones, 2).ToString("C",formato)</span> </p>
                                    }
                                    <p>Total Dólares  : <span> $ @Math.Round(Model.TotalFC, 2).ToString("C",formato)</span></p>


                                </div>
                                <div class="total-payment">
                                    <h3><b>Totalizado :</b>  <span> ₡ @((@Math.Round(Model.Totalizado, 2).ToString("C", formato))) </span></h3>
                                </div>


                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- /.row -->

                    </div>
                </div>


                <!-- Default box -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="box">

                    <div class="box-body">
                        <!-- title row -->
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Notas de Crédito </strong>


                                </address>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-pale-info">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Cliente</th>
                                            <th class="text-center">Referencia</th>
                                            <th class="text-center">Moneda</th>
                                            <th class="text-center">Total</th>





                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            TotalNC = 0.00;
                                            TotalND = 0.00;


                                        }
                                        @foreach (var item2 in Model.Documento.Where(a => a.TipoDocumento == "03"))
                                        {


                                            <tr>
                                                <td class="text-center">@item2.id</td>

                                                <td> @(Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault() == null ? "Cliente Inexistente" : Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Codigo + " - " + Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Nombre)</td>


                                                <td>@item2.Comentarios</td>
                                                <td class="text-center"> @item2.Moneda </td>






                                                <td class="text-right"> @Math.Round( Convert.ToDecimal(item2.TotalCompra + item2.Redondeo), 2).ToString("C",formato)</td>



                                                @{
                                                    if (@item2.Moneda == "CRC")
                                                    {
                                                        TotalNC += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                    }
                                                    else
                                                    {
                                                        TotalND += Convert.ToDouble(@item2.TotalCompra + item2.Redondeo);
                                                    }


                                                }




                                            </tr>


                                        }






                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->

                            <div class="col-md-12  text-right">
                                <div>
                                    @{

                                    }
                                    @if (Model.Pais == "C" || Model.Pais == "")
                                    {
                                    <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalNC), 2).ToString("C",formato)</span> </p>
                                    }
                                    <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalND), 2).ToString("C",formato)</span></p>


                                </div>



                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- /.row -->

                    </div>
                </div>


                <!-- Default box -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="box">

                    <div class="box-body">
                        <!-- title row -->
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Pagos a Cuenta </strong>


                                </address>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-pale-info">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Cliente</th>
                                            <th class="text-center">Moneda</th>
                                            <th class="text-center">Total</th>





                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            TotalPC = 0.00;
                                            TotalPD = 0.00;


                                        }
                                        @foreach (var item2 in Model.PagoCuentas)
                                        {


                                            <tr>
                                                <td class="text-center">@item2.id</td>

                                                <td> @(Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault() == null ? "Cliente Inexistente" : Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Codigo + " - " + Model.Clientes.Where(a => a.id == item2.idCliente).FirstOrDefault().Nombre)</td>



                                                <td class="text-center"> @item2.Moneda </td>





                                                <td class="text-right">@item2.Total.ToString("C",formato)</td>



                                                @{
                                                    if (@item2.Moneda == "CRC")
                                                    {
                                                        TotalPC += Convert.ToDouble(@item2.Total);
                                                    }
                                                    else
                                                    {
                                                        TotalPD += Convert.ToDouble(@item2.Total);
                                                    }


                                                }




                                            </tr>


                                        }






                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->

                            <div class="col-md-12  text-right">
                                <div>
                                    @{

                                    }
                                    @if (Model.Pais == "C" || Model.Pais == "")
                                    {
                                    <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalPC), 2).ToString("C",formato)</span> </p>
                                    }
                                    <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalPD), 2).ToString("C",formato)</span></p>


                                </div>



                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- /.row -->

                    </div>
                </div>


                <!-- Default box -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="box">

                    <div class="box-body">
                        <!-- title row -->
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-4 invoice-col">

                                <address>
                                    <strong class="text-blue font-size-24">Depósitos </strong>


                                </address>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-pale-info">
                                            <th class="text-center">#</th>
                                            <th class="text-center">Banco</th>
                                            <th class="text-center">Moneda</th>
                                            <th class="text-center">Total</th>





                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            TotalDC = 0.00;
                                            TotalDD = 0.00;


                                        }
                                        @foreach (var item2 in Model.Depositos)
                                        {


                                            <tr>
                                                <td class="text-center">@item2.id</td>
                                                <td class="text-center"> @item2.Banco </td>

                                                <td class="text-center"> @item2.Moneda </td>





                                                <td class="text-right">@item2.Saldo.ToString("C",formato)</td>



                                                @{
                                                    if (@item2.Moneda == "CRC")
                                                    {
                                                        TotalDC += Convert.ToDouble(@item2.Saldo);
                                                    }
                                                    else
                                                    {
                                                        TotalDD += Convert.ToDouble(@item2.Saldo);
                                                    }


                                                }




                                            </tr>


                                        }






                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->

                            <div class="col-md-12  text-right">
                                <div>
                                    @{

                                    }
                                    @if (Model.Pais == "C" || Model.Pais == "")
                                    {
                                    <p>Total Colones  : <span> ₡ @Math.Round( Convert.ToDecimal(TotalDC), 2).ToString("C",formato)</span> </p>
                                    }
                                    <p>Total Dólares  : <span> $ @Math.Round(Convert.ToDecimal(TotalDD), 2).ToString("C",formato)</span></p>


                                </div>



                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- /.row -->

                    </div>
                </div>


                <!-- Default box -->

            </div>
        </div>

    </div>
</div>


<!-- Content Header (Page header) -->
